<figure class="image-strip {{ include.class }}">
  <div class="strip">
    {% assign urls = include.urls | split: "," %}
    {% for u in urls %}
      <img src="{{ u | strip }}" alt="{{ include.alt | default: "" }}">
    {% endfor %}
  </div>
  {% if include.description or include.credits %}
    <figcaption><span class="caption-title">Caption</span>:
      {{ include.description | markdownify | remove: "<p>" | remove: "</p>" }}

      {% assign _credits = include.credits | split: ";;" %}
{% for c in _credits %}
  {% assign _c = c | strip %}
  {% if _c != "" %}
    {% assign page_credit_counter = page_credit_counter | plus: 1 %}
    <span class="credit-marker">[{{ page_credit_counter }}]</span>

    {% capture new_entry %}
      <li>[{{ page_credit_counter }}] {{ _c | markdownify | remove: "<p>" | remove: "</p>" }}</li>
    {% endcapture %}
    {% capture page_credits %}
      {{ page_credits }}
      {{ new_entry }}
    {% endcapture %}
  {% endif %}
{% endfor %}

    </figcaption>
  {% endif %}
</figure>
